asgiref==3.4.1
astroid==2.4.2
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
branca==0.4.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
debugpy @ file:///C:/ci/debugpy_1629222854708/work
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
Django==3.2.7
entrypoints==0.3
Flask==2.0.1
folium==0.12.1
future==0.18.2
gunicorn==20.1.0
idna==3.2
ipykernel @ file:///C:/ci/ipykernel_1629995240690/work/dist/ipykernel-6.2.0-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1628244008373/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isort==5.6.4
itsdangerous==2.0.1
jedi @ file:///C:/ci/jedi_1611315808330/work
Jinja2==3.0.1
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1630690655192/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213356021/work
lazy-object-proxy==1.4.3
line-bot-sdk==1.20.0
MarkupSafe==2.0.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
numpy==1.21.2
pandas==1.3.3
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
polyline==1.4.0
prompt-toolkit @ file:///Users/ktietz/demo/mc3/conda-bld/prompt-toolkit_1629146841569/work
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pylint==2.6.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.1
pywin32==228
pyzmq @ file:///C:/ci/pyzmq_1628276144921/work
requests==2.26.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
tornado @ file:///C:/ci/tornado_1606942392901/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
urllib3==1.26.6
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
